@model Toph.UI.Models.UserIndexModel

@{
    ViewBag.Title = Model.Username;
}

<hgroup class="title">
    <h1>@Html.ActionLink(Model.Username, "Index", "User")</h1>
</hgroup>

@if (Model.ShowManageLink)
{
    <p>
        @Html.ActionLink("Manage", "Manage", "Account") your account
    </p>
}
