<article class="line" style="margin-bottom: 50px;">

    <header class="line" style="background: #efefef; padding: 2px 5px;">
        <div data-bind="text: InvoiceDate" title="Invoice Date" class="unit size1of2"></div>
        <div data-bind="text: InvoiceNumber" title="Invoice Number" class="unit size1of2" style="text-align: right;"></div>
    </header>

    <div data-bind="click: $root.onCustomerClick, with: InvoiceCustomer" class="line clickable" style="margin: 15px 0;">
        <div data-bind="text: Name"></div>
        <div data-bind="text: Address.Line1"></div>
        <div data-bind="text: Address.Line2"></div>
        <div>
            <span data-bind="text: Address.City"></span>
            <span data-bind="text: Address.State"></span>
            <span data-bind="text: Address.PostalCode"></span>
        </div>
    </div>

    <table class="line" style="width: 100%; font-size: .85em;">
        <thead>
            <tr>
                <th>Date</th>
                <th style="width: 99%;">Description</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: InvoiceLineItems">
            <tr data-bind="click: $root.onLineItemClick" class="clickable">
                <td data-bind="text: LineItemDate"></td>
                <td data-bind="text: Description" style="width: 99%;"></td>
                <td data-bind="text: Quantity"></td>
                <td data-bind="text: Price"></td>
                <td data-bind="text: LineItemTotal"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <div class="line">
                        <div class="unit size3of4">
                            <p>
                                <a data-bind="click: $root.onAddLineItemClick" href="#add-line">Add Line Item</a> <br />
                                <a data-bind="click: $root.onExportInvoiceClick" href="#export-invoice">Export Invoice</a>
                            </p>
                            <p>
                                <a data-bind="click: $root.onDeleteInvoiceClick" href="#delete-invoice">Delete Invoice</a>
                            </p>
                        </div>
                        <div class="unit size1of4" style="text-align: right; font-weight: bold;">
                            Grand Total:
                        </div>
                    </div>
                </td>
                <td data-bind="text: InvoiceTotal" style="font-weight: bold;"></td>
            </tr>
        </tfoot>
    </table>

</article>
