@{
    ViewBag.Title = "About";
}

@section featured {
    <hgroup class="title">
        <h1>@App["name"].</h1>
        <h2>The best there is at whatever this is.</h2>
    </hgroup>
    <p>
        This application is meant not only to help organize my consulting gigs, but also give me a public
        application and codebase I can point to. I'm mainly thinking of potential clients who want to see
        some of my work and other developers when I'm trying to explain a pattern or best practice.
    </p>
    <p>
        To learn more about it, read about it on
        <a href="http://www.robtennyson.us/?tag=/toph" title="Rob Tennyson" target="_blank">my blog</a>
        or take a look at
        <a href="https://github.com/rtennys/Toph" title="Toph on GitHub" target="_blank">the code</a>.
    </p>
}

<div class="line">

    <h3>Contact Info</h3>

    <p><strong>Email:</strong> <a href="mailto:rob@robtennyson.us?subject=Toph:%20">rob@robtennyson.us</a></p>
    <p>
        I’m very good about reading and returning email, and generally prefer it over the phone.
        If you’d like to talk though, just send me your number and the best time to call.
    </p>
    <p>I look forward to hearing from you.</p>

</div>

<div class="line spaced">

    <h3>Why you would want to use this site:</h3>

    <ol class="round">
        <li class="one">
            <h5>You track billable time</h5>
            I used to track my time in Outlook. I used a separate calendar that was dedicated to time spent working for customers.
            I would just create "appointments" for whenever I was actively working a contract. I generally used the appointment
            subject for a short description of what I was doing and used the appointment location to distinguish between customers
            (though I rarely work more than one contract at a time).
        </li>

        <li class="two">
            <h5>You send invoices to customers</h5>
            At the end of the billing period (usually a week), I would copy from the above calendar, paste into an Excel template
            I created, do some formatting, and finally print to PDF. I would then email that PDF to the customer.
        </li>

        <li class="three">
            <h5>You would like and easier way of doing the above</h5>
            Ya, me too. I created this application for a few reasons. The most important of which was to <strong>use</strong>!
            I now use this site to manage my personal consulting contracts.
        </li>
    </ol>

    <p>
        Note that I did move away from tracking time entries and then figuring out how to map those entries to an invoice.
        I now start from the viewpoint of the invoice and work entirely from it.
    </p>
</div>
