@{
    ViewBag.Title = "Home";
}

@section featured {
    <hgroup class="title">
        <h1>@App["name"].</h1>
        <h2>The best there is at whatever this is.</h2>
    </hgroup>
    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.</p>
}

<h3>Why you would want to use this site:</h3>

<ol class="round">
    <li class="one">
        <h5>You track billable time</h5>
        I used to track my time in Outlook. I used a separate calendar that was
        dedicated to time spent working for customers. I would just create
        "appointments" for whenever I was actively working a contract. I generally used
        the appointment subject for a short description of what I was doing and used the
        appointment location to distinguish between customers (though I rarely work more
        than one contract at a time).
    </li>

    <li class="two">
        <h5>You send invoices to customers</h5>
        At the end of the billing period (usually a week), I would copy from the above
        calendar, paste into an Excel template I created, do some formatting, and
        finally print to PDF. I would then email that PDF to the customer.
    </li>

    <li class="three">
        <h5>You would like and easier way of doing the above</h5>
        Ya, me too. I created this application for a few reasons. The most important of which was to <strong>use</strong>!
        I now use this site to manage my personal consulting contracts.
    </li>
</ol>

<p>
    If the above sounds like you, go ahead and @(Html.ActionLink("sign in", "Login", "Account")). Doing so will create
    your account and you'll be able to get started in no time.
</p>
