@{
    ViewBag.Title = "Home";
}

<h3>Open Invoices</h3>

<p>
    <a href="#add-invoice" data-bind="click: addInvoice">Add</a>
</p>

<div data-bind="visible: invoices().length == 0, text: noInvoicesMessage"></div>

<div data-bind="foreach: invoices">
    @Html.Partial("_InvoiceTemplate")
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Site.Home.Index.js")
}
