@{
    ViewBag.Title = "Home";
}

<h3>Open Invoices</h3>

<p>
    <a href="#add" id="addInvoiceButton">Add</a>
</p>

<div id="invoicesContainer">Loading...</div>

<p>
    @Html.ActionLink("all invoices", "Index", "Invoices")
</p>

@section scripts
{
    @Scripts.Render("~/Scripts/Site.Home.Index.js")
}
