@model Toph.UI.Models.CustomerIndexModel

@{
    ViewBag.Title = Model.CustomerName;
}

<hgroup class="title">
    <h1>@Html.ActionLink(Model.Username, "Index", "User")/@Html.ActionLink(Model.CustomerName, "Index", "Customer")</h1>
</hgroup>

