<li>
    @if (Request.IsAuthenticated)
    {
        <text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account")!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {style = "display: inline"}))
            {
                @Html.AntiForgeryToken()
                <a href="#" onclick="$(this).parents('form:first').submit()">Sign out</a>
            }
        </text>
    }
    else
    {
        @Html.ActionLink("Sign in", "Login", "Account")
    }
</li>
