@if (Request.IsAuthenticated)
{
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Index", "User", routeValues: new {username = User.Identity.Name}, htmlAttributes: new {@class = "username"})!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Sign in", "Login", "Account")</li>
    </ul>
}
